/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --yellow: rgb(252, 204, 1);
  --blue: rgb(21, 78, 157);
}

.boardMember_item li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  -webkit-transition: background-color ease-out 500ms;
  -o-transition: background-color ease-out 500ms;
  transition: background-color ease-out 500ms;
}

.boardMember_item:hover,
.boardMember_item:focus{
  /* animation: flip 1s ease-out forwards; */
  background-color: var(--yellow);
}

.boardMember_item h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem;
  color: var(--blue);
}

.boardMember_item h3,
.boardMember_item h4 {
  margin: 0;
}

.boardMember_item img {
  width: 10rem;
}

.boardMember_item p {
  font-size: small;
  font-style: italic;
}

@media (min-width: 580px) {
  .boardMember_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 18rem;
  }
  
  .boardMember_item img {
    width: 11rem;
  }
}


@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(160deg);
            transform: rotateY(160deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


@keyframes flip {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(160deg);
            transform: rotateY(160deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}